version: 2
renderer: networkd
ethernets:
  ${primary_interface_name}:
    match:
      name: "${primary_interface_name}"
    set-name: "${primary_interface_name}"
%{ if static_ip != null ~}
    dhcp4: false
    dhcp6: false
    optional: true
    addresses:
      - ${static_ip}
%{ if gateway != null ~}
    routes:
      - to: default
        via: ${gateway}
%{ endif ~}
%{ if length(dns_servers) > 0 ~}
    nameservers:
      addresses:
%{ for dns in dns_servers ~}
        - ${dns}
%{ endfor ~}
%{ endif ~}
%{ else ~}
    dhcp4: true
    dhcp6: false
    optional: true
%{ endif ~}
%{ for nic in secondary_interface_names ~}
  ${nic}:
    match:
      name: "${nic}"
    set-name: "${nic}"
    dhcp4: true
    dhcp4-overrides:
      use-routes: false
      use-dns: false
    dhcp6: false
    optional: true
%{ endfor ~}
