version: 2
renderer: networkd
ethernets:
%{ for iface in interfaces ~}
  ${iface.device}:
    match:
      name: "${iface.device}"
    set-name: "${iface.device}"
%{ if iface.static_ip != null ~}
    dhcp4: false
    dhcp6: false
    optional: true
    addresses:
      - ${iface.static_ip}
%{ if iface.gateway != null ~}
    routes:
      - to: default
        via: ${iface.gateway}
%{ endif ~}
%{ if length(iface.dns_servers) > 0 ~}
    nameservers:
      addresses:
%{ for dns in iface.dns_servers ~}
        - ${dns}
%{ endfor ~}
%{ endif ~}
%{ else ~}
    dhcp4: true
    dhcp6: false
    optional: true
%{ if !iface.is_primary ~}
    dhcp4-overrides:
      use-routes: false
      use-dns: false
%{ endif ~}
%{ endif ~}
%{ endfor ~}
